
doctype 5
html
  head
    title Video Player Concept
    link(rel="stylesheet",href="page.css")
    //- script(src="http://192.168.1.19:7777/doodle.js")
    script(src="handle.js")
    meta(charset="utf-8")
  body
    #center
      .title a Minimal Video Player Concept Design
      #place
        #player
          video#video(src="../video/big-buck-bunny_trailer.webm",
            autoplay="false", volume="80")
          #timeline
            #step
          #control
            #play(title="you may click") Pause
            #volume(title="you may scroll and click this") 80
            #current(title="you may scroll here") 0
            #length 0
      .intro
        p It only works on Chrome, since the HTML5 video tag was introduced.
        p This is my idea about a video player with minimal UI components.
        br
        p There's a process bar under the player,
        p You may click and change it position. but I didn't make the buffer visible yet.
        br
        p By hovering your mouse on the bottom of the player, you can find the control panel:
        p So, click "Play" or "Pause" to toggle its state.
        p Click the "vol" to mute and unmute, also you can scroll on it.
        p Scroll on the words "curr" to go forward or backword by 2 seconds.